$base-color:#FFFFFF !default;
$page-bg-color : $base-color !default;
$include-border-radius: false;
$basic-slider: true;
$base-gradient: 'none';

$basic-grey: #151515;
$basic-grey-2: #262d35;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

@include icon-font('IcoMoon',inline-font-files('pictos/icomoon.woff',woff,'pictos/icomoon.ttf',ttf,'pictos/icomoon.svg',svg,'pictos/icomoon.eot',eot));
@include icon('left-arrow','!','IcoMoon');
@include icon('list','"','IcoMoon');

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/roboto-black/Roboto-Black-webfont.eot') format('eot'), url('../fonts/roboto-black/Roboto-Black-webfont.woff') format('woff'), url('../fonts/roboto-black/Roboto-Black-webfont.ttf') format('truetype'), url('../fonts/roboto-black/Roboto-Black-webfont.svg') format('svg');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/roboto-light/Roboto-Light-webfont.eot') format('eot'), url('../fonts/roboto-light/Roboto-Light-webfont.woff') format('woff'), url('../fonts/roboto-light/Roboto-Light-webfont.ttf') format('truetype'), url('../fonts/roboto-light/Roboto-Light-webfont.svg') format('svg');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto-regular/Roboto-Regular-webfont.eot') format('eot'), url('../fonts/roboto-regular/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/roboto-regular/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular/Roboto-Regular-webfont.svg') format('svg');
}
@font-face {
    font-family: 'Myriad';
    src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
}

body{
    background: #191918 url(../images/pretapp-logo-t.png) center no-repeat;
}
strong{
    font-weight:bold;
}
#appLoadingIndicator {
    top: 60%;
}
/* 
 * Main View NavBar
*/
.navBarTitle{
    font-size:0.8em;
    font-family:Adamina-Regular;
    background:#191918 url(../images/pretapp-logo.png) center no-repeat;
    height: 75px;
    .x-innerhtml{
        color:#FFFFFF;
    }
}
/* back and settings icons */
.x-button.x-button-pressing{
    background: none;
}

.x-button-label{
    font-weight: normal;
    white-space: normal;
}

.x-toolbar-dark .x-button{
    background: none;
    color: white;
    border: none;
}

.settings-button .x-button-icon, .back-button .x-button-icon{
    font-size: 1.6em;
}

.x-webkit .x-button-back, .x-webkit .x-toolbar .x-button-back{
    margin-left: 2em;
}
/* 
 * Main View Buttons
*/
.unlockSalesBtn, .shopsBtn, .offersBtn{
	height:34%;
    border-bottom: 2px solid #8b9386;
    background: $base-color;
}

.unlockSalesBtn h2:first-letter, .shopsBtn h2:first-letter, .offersBtn h2:first-letter{
    font-size: 130%;
}
.unlockSalesBtn h2, .shopsBtn h2,.offersBtn h2{
    font-family: Roboto-Black;
    text-transform: uppercase;
    color: #151515;
    font-size: 200%;
    line-height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    padding-bottom: 10px;
    width: 70%;
    margin: 0 auto 10px;
}
.unlockSalesBtn h3, .shopsBtn h3, .offersBtn h3{
    font-family: Roboto-Light;
    text-transform: uppercase;
    color: $basic-grey;
    font-size:1em;
}
.unlockSalesBtn p, .shopsBtn p, .offersBtn p{
    font-family: Myriad;
    color: $basic-grey-2;
    font-size:0.75em;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}


// STORE

.store-list{
     background: white;
}

.store-title{
	font-size: 180%;
    font-family: Roboto-Black;
}

.store-tabs{
	.x-container{
		background:$base-color;
        font-family: Roboto-Regular;
        color:black;

		.x-tab-active{
			background:$base-color;
		}

        .x-tabbar-dark .x-tab {
            color: #666666;
        }
	}
}

.store-info, .sale-info{
	text-align:center;
    line-height: 1.1em;
}

// products list
.products-list {
    text-align: center;

    .products-list-container {
        max-width: 1024px;
        margin: 0 auto;
    }

    .products-list-item {
        -webkit-transition: background .2s ease-in, border-color .2s ease-in;

        body.x-phone & {
            margin: 0 20px;
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }

        body:not(.x-phone) & {
            display: inline-block;
        }

        .image {
            background-color: #fff;
            background-position: center;
            background-repeat: no-repeat;
			

            body.x-phone & {
                margin: 0 auto;
				height:265px;
				width:265px;
            }

            body:not(.x-phone) & {
                height:165px;
				width:165px;
            }
        }

        .info {
            font-size: 0.8em;
            color: #000;
            font-family: 'Adamina-Regular';
        }

        .x-landscape & {
            margin: 10px;
        }

        .x-portrait & {
            margin: 20px;
        }
    }

    .x-item-pressed {
        background: rgba(0, 53, 41, .7);
        border-color: rgba(0, 53, 41, .8);
    }

    .products-list-inner {
        line-height: 10px;

        .x-landscape & {
            padding-top: 10px;
        }

        .x-portrait & {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
	
    &.root {
        background-image: url(../images/bg.jpg);
        background-position: top center;
        background-repeat: no-repeat;

        body:not(.x-phone).x-landscape & {
            .products-list-item {
                &:first-child {
                    margin-right: 345px;
                }
            }
        }

        .x-phone & {
            .products-list-inner {
                padding-top: 100px;
            }
        }

        body:not(.x-phone).x-portrait & {
            .products-list-inner {
                padding-top: 280px;
            }
        }
    }
}

// PRODUCT
.product-container{
	background:$base-color;
	padding: 10px 0 0;
    .image{
        margin:0 auto;
    }
    .info{
        background: black;
        opacity: 0.8;
        color: white;
        text-align: center;
        font-family: Roboto-Black;
        text-transform: uppercase;
        padding: 1.5em;
        margin-top: -100px;
        height: 130px;
    
        .name{
            border-bottom: 1px solid grey;
        }

        .text{
            font-size: 1.5em;
            margin-top: 0.5em;
        }
    }
}

//STORE AND SALES LIST
.listItem{
    text-align: center;
    font-family: Roboto-Light;
    .name{
        font-family: Roboto-Black;
        text-transform: uppercase;
        font-size: 150%;
        letter-spacing: 0.2em
    }
    .info{
        .amount{
            font-size: 150%;
            font-weight: bold;
            font-family: Roboto-Black;
            margin: 0 2%;
        }

    }
    .address{
        font-size: 80%;
        text-transform: uppercase;
    }
}

.x-list-normal .x-list-header {
    color: #000
}

.x-list .x-list-item.x-item-selected.x-list-item-tpl {
    background-color: #fff;
}


// SALES
.sales-list{
    background: white;
}

.sale-amount,{
    width:15em;
    height:15em;
    margin:0 auto;
    .x-inner{
        .x-innerhtml{
            width:100%;
            height: 100%;
            .sale-canvas{
                border-radius: 50%;
                height: 100%;
                border: 10px solid #8effff;
                background: #2c2c2c;
                width: 100%;
                text-align: center;
                .inner-border{
                    border-radius: 50%;
                    height: 86%;
                    width: 86%;
                    border: 1px dotted grey;
                    margin: 7% auto 0 auto;
                    .amount{
                        font-family: Roboto-Regular;
                        font-size: 3.5em;
                        margin-top: 1em;
                        color: white;
                    }
                }
            }
        }
    }
}

.sale-store-name{
    font-family: Roboto-Black;
    font-size: 2em;
    margin: 0.5em 0;
}

.sale-info{
    font-family: Roboto-Regular;
    margin: 10% 0;
    h3{
        font-size:110%;
        font-weight: bold;
    }
}

.unlock-button{
    width: 30%;
    margin: 3% auto;
    font-family: Roboto-Black;
    color: #f5f5f5;
    background: #2c2c2c;
    height: 8%;
}

// SIDE MENU

#ext-menu-1{
    padding:0;
    background: #1d1d1d;
}

#ext-menu-1 .x-inner .x-button{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    background-image: none;
    background-color: #262626;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #161616;
    border-width: 1px 0;
    height: 3em;
    color: #FFF;
    text-align: left;
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin:0;
}
#ext-menu-1 .x-inner .x-button-normal x-button-label{
    font-weight:bold;
}

.sideMenuLabel{
    font-size: 0.7em;
    color: #a3a3a3;
    padding: 0.2em 1em;
    border-bottom: 1px solid #161616;
    background: #1d1d1d;
}

.sideMenuLabel .x-innerhtml{
    color:#727272;
    font-size: 0.9em;
}

#ext-menu-1 .x-inner .x-button .x-button-label{
    text-align: left;
    font-size: 0.9em;
}


// VENDOR MANAGER

.vendor-new-button{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    background-image: none;
    background-color: #262626;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #161616;
    border-width: 1px 0;
    height: 3em;
    color: #FFF;
    text-align: left;
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', sans-serif;
    font-size: 1em;
    margin:0;
}


  /**
    * Facebook login view
    *
    */

.facebook-login{
    width: 300px;
    height: 46px;
    background: url(../images/fblogin.png) no-repeat;
    display: block;
    margin: 0 auto;
}
